<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/rushikesh.manjare.31"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/rushikesh_manjre/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/rushikesh-manjre-690350295"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="wpl">
            <a href="">&copy; Wanderlust Private Limited</a>
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>